In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

ModuleNotFoundError: No module named 'pandas'

In [ ]:
species = pd.read_csv('species_info.csv')
species.head(10)

,category,scientific_name,common_names,conservation_status
0,Mammal,Clethrionomys gapperi gapperi,Gapper's Red-Backed Vole,NaN
1,Mammal,Bos bison,"American Bison, Bison",NaN
2,Mammal,Bos taurus,"Aurochs, Aurochs, Domestic Cattle (Feral), Dom...",NaN
3,Mammal,Ovis aries,"Domestic Sheep, Mouflon, Red Sheep, Sheep (Feral)",NaN
4,Mammal,Cervus elaphus,Wapiti Or Elk,NaN
5,Mammal,Odocoileus virginianus,White-Tailed Deer,NaN
6,Mammal,Sus scrofa,"Feral Hog, Wild Pig",NaN
7,Mammal,Canis latrans,Coyote,Species of Concern
8,Mammal,Canis lupus,Gray Wolf,Endangered
9,Mammal,Canis rufus,Red Wolf,Endangered

In [ ]:
size_species = species.size
print("species_size = {}".format(size_species))
shape_species = species.shape
print("species_shape = {}".format(shape_species))

species_size = 23296
species_shape = (5824, 4)

In [ ]:
observations = pd.read_csv('observations.csv')

In [ ]:
observations.head(10)

,scientific_name,park_name,observations
0,Vicia benghalensis,Great Smoky Mountains National Park,68
1,Neovison vison,Great Smoky Mountains National Park,77
2,Prunus subcordata,Yosemite National Park,138
3,Abutilon theophrasti,Bryce National Park,84
4,Githopsis specularioides,Great Smoky Mountains National Park,85
5,Elymus virginicus var. virginicus,Yosemite National Park,112
6,Spizella pusilla,Yellowstone National Park,228
7,Elymus multisetus,Great Smoky Mountains National Park,39
8,Lysimachia quadrifolia,Yosemite National Park,168
9,Diphyscium cumberlandianum,Yellowstone National Park,250

In [ ]:
#check for dimensions in both species.csv and observation.csv data sets.
size_observ = observations.size
print("observations_size : {}".format(size_observ))
shape_observ =  observations.shape
print("observations_shape : {}".format(shape_observ))

observations_size : 69888
observations_shape : (23296, 3)

In [ ]:
# explore data
# explore species data , find the number of distinct species in the data. use scientific_name column to get unique species.

#unique_animals = observations.scientific_name.unique()
#print("categories : {}".format(unique_animals()))

print(f"number of categories :  {species.category.unique()}")

number of categories :  ['Mammal' 'Bird' 'Reptile' 'Amphibian' 'Fish' 'Vascular Plant'
 'Nonvascular Plant']

In [ ]:
# find no.of categories in  species dataset.
#print(f"no.of categories: {species.category.count()}")

print(species['category'].value_counts())
print("no.of categories: ", species['category'].value_counts().count())

category
Vascular Plant       4470
Bird                  521
Nonvascular Plant     333
Mammal                214
Fish                  127
Amphibian              80
Reptile                79
Name: count, dtype: int64
no.of categories:  7

In [ ]:
#count of category in the data.HINT: can use groupby and size(size show you 

species.groupby("category").size()

category
Amphibian              80
Bird                  521
Fish                  127
Mammal                214
Nonvascular Plant     333
Reptile                79
Vascular Plant       4470
dtype: int64

In [ ]:
#explore conservation_status , find unique values.
print(f"conversation_statuses :  {species.conservation_status.unique()}")
print(f"conversation_statuses :  {species.conservation_status.nunique()}")
print("conversation_status:", species.conservation_status.value_counts().count())
print(f"nan_values: {species.conservation_status.isna().sum()}")
species.groupby("conservation_status").size()

conversation_statuses :  [nan 'Species of Concern' 'Endangered' 'Threatened' 'In Recovery']
conversation_statuses :  4
conversation_status: 4
nan_values: 5633

conservation_status
Endangered             16
In Recovery             4
Species of Concern    161
Threatened             10
dtype: int64

In [ ]:
#OBSERVATION TABLE 
#UNIQUES PARKS, NO.OF UNIQUE PARKS, sum  OF OBSERVATIONS COUNT
print(f"parks: {observations.park_name.unique()}")
print("no.of parks:", observations.park_name.nunique())
print("no.of observations:", observations.observations.sum())

parks: ['Great Smoky Mountains National Park' 'Yosemite National Park'
 'Bryce National Park' 'Yellowstone National Park']
no.of parks: 4
no.of observations: 3314739

In [ ]:
#let try doing it